<div class="explanation">
  <div class="content">
    <h3>問題１</h3>
    <p>銅は融点が1083度と金属の中では比較的低く、展延性を持ちやわらかい金属なので加工しやすい。</p>
    <p>その加工性の良さから楽器や銅像など多くのものに利用されている。</p>
  </div>
  <div class="content">
    <h3>問題２</h3>
    <p>銅の抗菌作用は非常に優れておりO-157やインフルエンザ、ノロウィルスなど多くの細菌類に対して効果的である。</p>
    <p>またぬめりを防いだり消臭作用を持つのでドアノブや手すりだけでなく、水道周り、靴下などにも利用されている。</p>
  </div>
  <div class="content">
    <h3>問題３</h3>
    <p>銅は銀と比べて導電性があまり変わらず、かつ銀と比べはるかに安価であるため一般的に銅が使われている。</p>
    <p>使用例をあげると電線や電子機器、ハイブリッド車などに利用されている。</p>
  </div>
  <div class="content">
    <h3>問題４</h3>
    <p>基本的に金属が持つ自由電子が動きやすいほど電気を通しやすく、自由電子が熱を運んでくれるので熱が伝わりやすい。</p>
    <p>銀ではなく銅が使われている理由は上と同じ。</p>
    <p>調理器具やエアコンの管などに利用され、逆に冷やす目的でヒートシンクなどにも利用されている。</p>
  </div>
  <div class="content">
    <p>上記以外にも銅は酸素に触れると表面に酸化銅の被膜を作り、内部の金属を保護する耐腐食性を持つ。</p>
    <p>こちらは屋根や水回りなど幅広く利用されている。</p>
  </div>
  <li class="link"><%= link_to "問題へ", "/copper/question2" %></li>
</div>
