<div class="explanation">
  <div class="content">
    <h3>問題１</h3>
    <p>青銅は銅を主成分としてスズ（Sn）を含む合金である。</p>
    <p>青銅の元々の色は添加するスズの量によって決まり、少なければ赤銅色、多くなると黄金色となり、一定量以上の添加で</p>
    <p>白銀色となる。</p>
    <p>青銅は大気中で徐々に酸化され、表面に緑青というサビが出来る。</p>
    <p>このサビによって青緑色となり、見慣れた青銅の色となる。</p>
    <p>一般的に加工が容易で耐食性に優れているので芸術品や鐘、10円硬貨などに使われている。</p>
  </div>
  <div class="content">
    <h3>問題２</h3>
    <p>黄銅は銅を主成分として亜鉛（Zn）を含む合金である。特に亜鉛が20％以上のものを言い、真鍮と呼ばれることも多い。</p>
    <p>展延性に優れており金管楽器や弾薬の薬莢、5円硬貨などに使われている。</p>
    <p>また黄銅は英語でブラス（brass）と言い、狭義において金管楽器を主体として編成される楽団のブラスバンドの語源と</p>
    <p>なっている。</p>
  </div>
  <div class="content">
    <h3>問題３</h3>
    <p>洋白は銅と亜鉛（Zn）とニッケル（Ni）から構成される合金である。別名で洋銀とも言う。</p>
    <p>柔軟性・屈曲加工性に富んでおり、耐食性にも比較的優れている。また黄銅よりも引張り強さなどが優れている。</p>
    <p>一定の通電性、加工が容易なことから鉄道模型のレールやバネ材料、ネックレスなどに使われる。</p>
    <p>洋白に銀メッキを施したカトラリー（スプーンなど）は特に洋白銀器と呼ばれる。新500円硬貨にも使用されている。</p>
  </div>
  <div class="content">
    <p>上記以外にも銅とニッケル（Ni）から構成される白銅など様々な合金がある。</p>
    <p>白銅は50円硬貨や100円硬貨、旧500円硬貨などに使われている。</p>
  </div>
  <li class="link"><%= link_to "問題へ", "/copper/question3" %></li>
</div>
