<div class="explanation">
  <div class="content">
    <h3>問題１</h3>
    <p>緑青とは銅が酸化することでできる青緑色のサビである。大仏の表面や10円硬貨の青緑色の付着物などに見られる。</p>
    <p>ちなみに昔から緑青は有毒であると思われてきたが、最近の研究や実験で無害であることが証明された。</p>
  </div>
  <div class="content">
    <h3>問題２</h3>
    <p>銅が硬貨としてよく使用されている理由は抗菌性にあります。</p>
    <p>また加工しやすく、金や銀に比べて安価であり色が豊富なことも使われている理由となります。</p>
  </div>
  <div class="content">
    <h3>問題３</h3>
    <p>私たちの身体に含まれる銅は血や骨などを作ることを助ける必須金属です。</p>
    <p>チョコレートやレバー、牡蠣などに銅は多く含まれます。</p>
    <p>また発育が盛んな赤ちゃんは特に銅が必要で、新生児の銅含有量は大人の２〜３倍と言われています。</p>
    <p>そのため赤ちゃんに飲ませる粉ミルクには銅が添加されています。</p>
  </div>
  <li class="link"><%= link_to "問題へ", "/copper/question4" %></li>
</div>
