<div class="explanation">
  <div class="content">
    <h3>問題１</h3>
    <p>銅の呼ばれ方は歴史と共に変化し、ラテン語でキュープラム（cuprum）と呼ばれるようになりました。</p>
    <p>この最初の２文字をとって銅の原子記号はCuとなりました。</p>
    <p>また、cuprumは英語のcopperの語源でもあります。bronzeは正確には青銅という意味。</p>
  </div>
  <div class="content">
    <h3>問題２</h3>
    <p>日本で初めて銅が使われたのは紀元前３００年頃（弥生時代）と言われており、中国大陸から渡来してきたもの。</p>
    <p>ちなみに国内で銅鉱石が初めて産出されたのは西暦６９８年（飛鳥時代）と言われている。</p>
  </div>
  <div class="content">
    <h3>問題３</h3>
    <p>富本銭は西暦６８３年頃に日本でつくられたと推定されている。</p>
    <p>西暦７０８年に和同開珎がつくられた。</p>
    <p>永楽通宝は西暦１４１１年に今の中国にてつくられ、室町時代に日本へ輸入された。</p>
    <p>寛永通宝は西暦１６３６年につくられ、江戸時代を通じて広く流通した。</p>
    <p>ここで日本最古の貨幣についてだが、西暦１９９８年に富本銭が和同開珎よりも前の時代に存在したものであると発見され</p>
    <p>て以降議論が交わされている。富本銭の方が古いものだが、富本銭が流通していた事実が存在しないことからまじない用の</p>
    <p>もので、貨幣ではなかったのではないかと見る意見もあり未だにはっきりとは言えない状況である。</p>
  </div>
  <li class="link"><%= link_to "問題へ", "/copper/question4" %></li>
</div>
