<div id="main">
  <p>クイズを解きながら銅について学んでみよう！</p>
  <li><%= link_to "第１章　歴史編（全３問）", "/copper/question1" %></li>
  <li><%= link_to "第２章　性質編（全４問）", "/copper/question2" %></li>
  <li><%= link_to "第３章　合金編（全３問）", "/copper/question3" %></li>
  <li><%= link_to "第４章　雑学編（全３問）", "/copper/question4" %></li>
</div>
