<div class="panel-group">
  <div class="question">
    <div class="text">
      <h3>問題１</h3>
      青銅は銅の他に何を含んだ合金？
    </div>
    <div class="choises">
      <li>１：W</li>
      <li>２：Mg</li>
      <li>３：Sn</li>
      <li>４：Cr</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion3-1">答え</a>
            </h4>
        </div>
        <div id="accordion3-1" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　３：Sn</h3>
              青銅は銅を主成分としてスズ（Sn）を含む合金である
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題２</h3>
      黄銅は銅の他に何を含んだ合金？
    </div>
    <div class="choises">
      <li>１：Pb</li>
      <li>２：Zn</li>
      <li>３：Au</li>
      <li>４：Ti</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion3-2">答え</a>
            </h4>
        </div>
        <div id="accordion3-2" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　２：Zn</h3>
              黄銅は銅を主成分として亜鉛（Zn）を含む合金である
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題３</h3>
      洋白は銅の他に何を含んだ合金？
    </div>
    <div class="choises">
      <li>１：ZnとPb</li>
      <li>２：TiとCr</li>
      <li>３：SnとZn</li>
      <li>４：CrとMg</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion3-3">答え</a>
            </h4>
        </div>
        <div id="accordion3-3" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　１：ZnとPb</h3>
              洋白は銅と亜鉛（Zn）とニッケル（Ni）から構成される合金である
            </div>
        </div>
    </div>
  </div>
  <li class="link"><%= link_to "詳しい解説", "/copper/explanation3" %></li>
</div>
