<div class="panel-group">
  <div class="question">
    <div class="text">
      <h3>問題１</h3>
      緑青に関して正しい説明はどれ？
    </div>
    <div class="choises">
      <li>１：緑青は有毒である</li>
      <li>２：内部の銅の腐食を防ぐ</li>
      <li>３：水を青色にする作用を持つ</li>
      <li>４：緑青は水で簡単に落とすことができる</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion4-1">答え</a>
            </h4>
        </div>
        <div id="accordion4-1" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　２：内部の銅の腐食を防ぐ</h3>
              銅の表面に被膜を作るため
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題２</h3>
      現在の日本の硬貨で銅が使われてないものはどれ？
    </div>
    <div class="choises">
      <li>１：1円硬貨</li>
      <li>２：1円硬貨、5円硬貨</li>
      <li>３：1円硬貨、50円硬貨、100円硬貨</li>
      <li>４：1円硬貨、500円硬貨</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion4-2">答え</a>
            </h4>
        </div>
        <div id="accordion4-2" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　１：1円硬貨</h3>
              それぞれに何の銅合金が使われているのかは第3章の解説へ
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題３</h3>
      私たちの身体にはどれくらいの銅が含まれているか？
    </div>
    <div class="choises">
      <li>１：0.5~1mg</li>
      <li>２：5~10mg</li>
      <li>３：30~50mg</li>
      <li>４：80~100mg</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion4-3">答え</a>
            </h4>
        </div>
        <div id="accordion4-3" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　４：80~100mg</h3>
              私たちは毎日2~5mgの銅を摂取し、同じ量排泄するのが正常で健康な状態とされています
            </div>
        </div>
    </div>
  </div>
  <li class="link"><%= link_to "詳しい解説", "/copper/explanation4" %></li>
</div>
