<div class="panel-group">
  <div class="question">
    <div class="text">
      <h3>問題１</h3>
      銅の融点はどれ？
    </div>
    <div class="choises">
      <li>１：660度</li>
      <li>２：1083度</li>
      <li>３：1539度</li>
      <li>４：1951度</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion2-1">答え</a>
            </h4>
        </div>
        <div id="accordion2-1" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　２：1083度</h3>
              参考：鉄の融点は1539度
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題２</h3>
      銅が抗菌作用を持つのはどうしてでしょうか？
    </div>
    <div class="choises">
      <li>１：銅には細菌などが付着しにくいから</li>
      <li>２：銅には人体には影響しないほどの微小な有毒性があり、それにより細菌などが死滅するから</li>
      <li>３：銅の表面に形成される酸化銅の被膜によって細菌などが死滅するから</li>
      <li>４：銅イオンが細菌などの細胞内に入り込み細菌を死滅させるから</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion2-2">答え</a>
            </h4>
        </div>
        <div id="accordion2-2" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　４：銅イオンが細菌などの細胞内に入り込み細菌を死滅させるから</h3>
              水に溶け出した銅イオンが細胞内に取り込まれ、細胞内の酵素に阻害を引き起こすため
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題３</h3>
      以下の中で最も導電性に優れている金属はどれ？
    </div>
    <div class="choises">
      <li>１：銅</li>
      <li>２：金</li>
      <li>３：銀</li>
      <li>４：アルミニウム</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion2-3">答え</a>
            </h4>
        </div>
        <div id="accordion2-3" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　３：銀</h3>
              銀＞銅＞金＞アルミニウムの順で導電性に優れている
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題４</h3>
      以下の中で最も熱伝導性に優れている金属はどれ？
    </div>
    <div class="choises">
      <li>１：銅</li>
      <li>２：金</li>
      <li>３：銀</li>
      <li>４：アルミニウム</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion2-4">答え</a>
            </h4>
        </div>
        <div id="accordion2-4" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　３：銀</h3>
              銀＞銅＞金＞アルミニウムの順で熱伝導性に優れている
            </div>
        </div>
    </div>
  </div>
  <li class="link"><%= link_to "詳しい解説", "/copper/explanation2" %></li>
</div>
