<div class="panel-group">
  <div class="question">
    <div class="text">
      <h3>問題１</h3>
      銅の元素記号は何？
    </div>
    <div class="choises">
      <li>１：Au</li>
      <li>２：Cu</li>
      <li>３：Ag</li>
      <li>４：Pt</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion1-1">答え</a>
            </h4>
        </div>
        <div id="accordion1-1" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　２：Cu</h3>
              Au：金　Cu：銅　Ag：銀　Pt：白金
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題２</h3>
      日本で初めて銅が使われたのはいつ頃と言われているか？
    </div>
    <div class="choises">
      <li>１：縄文時代</li>
      <li>２：弥生時代</li>
      <li>３：古墳時代</li>
      <li>４：飛鳥時代</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion1-2">答え</a>
            </h4>
        </div>
        <div id="accordion1-2" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　２：弥生時代</h3>
              日本で初めて銅が使われたのは紀元前３００年頃（弥生時代）と言われている。
            </div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題３</h3>
      以下の中で、日本で最も古くから存在していたものはどれ？
    </div>
    <div class="choises">
      <li>１：寛永通宝</li>
      <li>２：永楽通宝</li>
      <li>３：富本銭</li>
      <li>４：和同開珎</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion1-3">答え</a>
            </h4>
        </div>
        <div id="accordion1-3" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>答え　３：富本銭</h3>
              詳しくは解説ページで
            </div>
        </div>
    </div>
  </div>
  <li class="link"><%= link_to "詳しい解説", "/copper/explanation1" %></li>
</div>
