<div class="panel-group">
  <div class="question">
    <div class="text">
      <h3>問題１</h3>
      問題文が書かれます。問題文が書かれます。問題文が問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。
    </div>
    <div class="choises">
      <li>1:問題文が書かれます。</li>
      <li>2:問題文が書かれます。</li>
      <li>3:問題文が書かれます。</li>
      <li>4:問題文が書かれます。</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion1-1">答え</a>
            </h4>
        </div>
        <div id="accordion1-1" class="panel-collapse collapse">
            <div class="panel-body">class="panel-collapse collapse in"のinが設定されていれば、折り畳みコンテンツがデフォルトで表示される</div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題２</h3>
      問題文が書かれます。問題文が書かれます。問題文が問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。
    </div>
    <div class="choises">
      <li>1:問題文が書かれます。</li>
      <li>2:問題文が書かれます。</li>
      <li>3:問題文が書かれます。</li>
      <li>4:問題文が書かれます。</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion1-2">答え</a>
            </h4>
        </div>
        <div id="accordion1-2" class="panel-collapse collapse">
            <div class="panel-body">class="panel-collapse collapse in"のinが設定されていれば、折り畳みコンテンツがデフォルトで表示される</div>
        </div>
    </div>
  </div>
  <div class="question">
    <div class="text">
      <h3>問題３</h3>
      問題文が書かれます。問題文が書かれます。問題文が問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。問題文が書かれます。
    </div>
    <div class="choises">
      <li>1:問題文が書かれます。</li>
      <li>2:問題文が書かれます。</li>
      <li>3:問題文が書かれます。</li>
      <li>4:問題文が書かれます。</li>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion1-3">答え</a>
            </h4>
        </div>
        <div id="accordion1-3" class="panel-collapse collapse">
            <div class="panel-body">class="panel-collapse collapse in"のinが設定されていれば、折り畳みコンテンツがデフォルトで表示される</div>
        </div>
    </div>
  </div>
  <li class="explanation"><%= link_to "詳しい解説", "/copper/explanation1" %></li>
</div>
